{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center"> Django App </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quia, enim corporis blanditiis libero amet possimus. Veritatis, cupiditate facilis ratione explicabo natus fugit incidunt debitis, ab id, pariatur ullam nulla? Praesentium itaque vitae ab veniam quidem voluptatum sed harum consequatur expedita accusantium omnis in pariatur ipsum esse nemo illum unde ex maxime repudiandae et, corporis, eligendi soluta iusto placeat! Et hic minus in odio quasi consequatur fugiat natus laborum cupiditate iusto tempore quae, voluptates placeat ea. Harum sunt rem at, iure officiis quisquam voluptatum, nesciunt reprehenderit cupiditate minima et incidunt assumenda, amet animi alias ipsum laudantium aliquid nostrum eaque sapiente?</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Iniciar Sesion
            </a>
            <a class="btn btn-dark" href="/signup/">
                Registrate
            </a>
        </div>
    </section>
</main>

{% endblock %}

